button.sbmt-btn {
  border-radius: 0;
  border: 2px solid #272727;
  cursor: pointer;
  width: 130px;
  background: #ffffff;
}

div.sbmt-btn-txt {
  padding: 10px;
  font-size: 1em;
}

button.sbmt-btn:hover {
  background: #272727;
  color: #ffffff;
}

button {
  outline: 0;
}
