<div class="example-container">

  <mat-toolbar color="primary" class="example-toolbar">
    <mat-icon class="button-icon" (click)="snav.toggle()">menu</mat-icon>
    <h1>Angular Snippets</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav mode="over">
      <mat-nav-list>
        <a mat-list-item routerLink="/submit-button">Submit Button</a>
        <a mat-list-item routerLink="/obs-merge">Observable Merge</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

